<div class="container-fluid rodape pt-4 pb-4 p-0 m-0"> 

    <div class="container d-flex justify-content-center w-100 mobile-c">
      <div class="row">
    
        <div class="col-sm-4 pr-0 mobile-c text-left">  
            <h3 class="mobile-t">INSTITUCIONAL</h3>
            <a (click)="rotaInicio()"><h3 class="mobile-t">Início</h3></a>
            <a (click)="rotaSobre()"><h3 class="mobile-t">Sobre nós</h3></a>
            <a (click)="rotaProdutos()"><h3 class="mobile-t">Produtos</h3></a>
        </div>
    
        <div class="col-sm-4 justify-content-center text-center pl-5 pr-0 mobile-c">
            <h3 class="mobile-t">CONTATO</h3>
            <h3 class="mobile-t">(11) 4522-3321</h3>
            <h3 class="mobile-t">(11) 97825-3497</h3>
            <h3 class="mobile-t">cleanenergy@contato.com</h3>
        </div>
    
        <div class="col-sm-4 pl-5 pr-0 text-right mobile-c">
            <h3 class="mr-3 pr-3 mobile-t">REDES SOCIAIS</h3>
    
          <div class="d-flex justify-content-end redesSociais mobile-l">
            <a href="" target="_blank" class="pl-5">
              <i class="fa fa-facebook-official p-2 text-white" aria-hidden="true"></i></a>  

            <a href="https://www.instagram.com/generationbrasil/?hl=pt-br" target="_blank" class="pl-2">
              <i class="fa fa-instagram p-2 text-white" aria-hidden="true"></i></a> 

            <a href="https://www.linkedin.com/school/generationbrasil/" target="_blank" class="pl-2">
              <i class="fa fa-linkedin-square p-2 text-white" aria-hidden="true"></i></a>
          </div>
        </div>
        
        <div class="col-sm-12">
           <p class="copy pt-4 mb-0 mobile-copy">Copyright &copy; 2021 Clean Energy - Todos direitos reservados</p>
        </div>
       
      </div>
    </div>
    
  </div>