<div class="rodape"> 

    <div class="container d-flex justify-content-center">
      <div class="row">
    
        <div class="col-sm-4">
            <h3>Institucional </h3>
            <a href="#"><h3>Início</h3></a>
            <a href="#"><h3>Sobre nós</h3></a>
            <a href="#"><h3>Produtos</h3></a>
        </div>
    
        <div class="col-sm-4">
            <h3>Contato</h3>
            <h3>(11) 4522-3321</h3>
            <h3>(11) 97825-3497</h3>
            <h3>cleanenergy@contato.com</h3>
        </div>
    
        <div class="col-sm-4">
            <h3 class="pl-2">Redes Sociais</h3>
    
            <div class="d-flex text-center redesSociais">
            <a href="" target="_blank"><img src=""/><i class="fa fa-facebook-official p-2 text-white" aria-hidden="true"></i></a>   
            <a href="" target="_blank"><img src=""/><i class="fa fa-instagram p-2 text-white" aria-hidden="true"></i></a> 
            <a href="" target="_blank"><i class="fa fa-linkedin-square p-2 text-white" aria-hidden="true"></i></a>
        </div>
        </div>
        
        <div class="col-sm-12">
           <p class="copy">Copyright &copy; 2021 Clean Energy - Todos direitos reservados</p>
        </div>
       
      </div>
    </div>
    
    </div>