<div class="container perfil mt-4">
    <h1 class="h2 text-secondary"> Meu Perfil </h1>

    <div class="container d-flex mt-4">
        <div class="container-col-md-5">
            <img id="imgPerfil" src="https://avatars.githubusercontent.com/u/72994902?v=4" alt="Foto de Perfil">
        </div>
        <div class="col-md-1">

        </div>

        <div class="container-col-md-6 pull-right">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nome">Nome do usuário</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Digite seu nome completo">
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                            placeholder="Digite seu email">
                    </div>
                </div>
              

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1">Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1">Confirmar senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                    </div>
                </div>

                <div class="form-group">
                    <label for="nome">Tipo de usuário</label>
                    <select id="usuario" class="form-control">
                        <option selected>Escolher...</option>
                        <option>Adinistrador</option>
                        <option>Cliente</option>
                    </select>
                </div>

                <div class="botoes">
                    <a href="#" type="submit" class="btn editarIcone"><i class=" fa fa-pencil"></i></a>
                    <a href="#" type="submit" class="btn deletarIcone"><i class=" fa fa-trash"></i></a>
                </div>
            </form>
        </div>
    </div>
</div>
