.bg-azul1{
    background: #023047;
}

.bg-cinza1{
    background: #E4EEF2;
}

.bg-cinza2{
    background: #c4cdd1;
}

::-webkit-scrollbar {
    background-color: #023047;    
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #023047;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #023047;
}

.pneg{
    padding-bottom: -10px;
}
