.titulo {
    text-align: center;
    color: #023047;
    text-transform: uppercase;
    font-weight: bold;
}

.texto {
    font-size: 20px;
}

.jr{
    color: #023047;
}

.tituloEqp {
    text-transform: uppercase;
    font-size: 26px;
    color: #FFB703;
    font-weight: bold;
    margin-top: 50px;
}

.nomes {
    font-size: 20px;
    color: #023047;
    font-weight: bold;  
}

.pneg{
    padding-bottom: -10px;
}

.imgh{
    color: #023047;
}

.imgh:hover{
    color: #FFB703;
}

@media only screen and (max-width: 480px){
    .mobile-c{ /*mobile content, mais geral*/
    width: 100%;
}

.mobile-t{ /*mobile text, para texto e titulo*/
    padding-left: 8%;
}

.mobile-i{ /*mobile image, para o nosso logo*/
    width: 100%;
    height: 100%;
    padding-right: 30%;
}

.mobile-l{ /*mobile link, para aumentar o espaço dos links de github e linkedin*/
    margin-bottom: 15%;
}



}