<div class="container-fluid">

    <div class="row d-flex align-items-center bg-cinza1 bg-tr pt-5 pb-5">

      <div class=" col-md-5 d-flex justify-content-center relative">
        <img class="img-top" src="../../assets/imagens/CleanEnergy 15x15.png" alt="" width="500px" height="500px">
    </div>

      <div class="col-md-6 pl-4 pr-4 justify-content-center">

            <div class="row d-flex">
                <div class="col-md-10 text-body mw-100 pl-5 ml-5 m-0">
                    <h1 class="text-center pb-3 fs-2">Sobre nós</h1>
                    <h5 class="text-justify mt-4 w-100 mb-5">Nosso e-commerce tem como base a ODS-07 da ONU, visando o consumo de energia lima e sustentável temos como objetivo promover o uso consciente da energia solar, anunciando produtos e serviços que utilizam desse meio de energia sustentável visando o bem de todo o planeta.
                    </h5>
                    <h5 class="text-justify mt-4 w-100 mb-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus rem minima quia cumque quis ut modi repellat ab quam eaque blanditiis maiores obcaecati aut et voluptatum aliquam repellendus, maxime quos!
                    </h5>
             
				</div>	
            </div>

        </div>

    </div>

  </div>

  <div class="container-fluid">

    <div class="row bg-cinza1 d-flex align-items-center pt-5 pb-5">
    
        <div class="col-md-3 pl-0 pr-0">
          <h5 class="text-center mt-4 w-100 mb-5 ">Italo Vieira</h5>
          <div class="d-flex justify-content-center pb-2">
            <img src="../../assets/imagens/Ita.png" alt="" width="200px" height="200px">
          </div>
          <h6 class="text-center mt-4 w-100 mb-5">
            Desenvolvedor Java Full Stack.
            
          </h6>
            <div class="d-flex justify-content-center pb-2">
              <a href="https://www.linkedin.com/in/italovieira1/" target="_blank">
              <img src="../../assets/imagens/linkedin.png" alt="" width="50px" height="50px" class=" ml-3 imgh"></a>
              <a href="https://github.com/heiitalo" target="_blank">
              <img src="../../assets/imagens/github.png" alt="" width="50px" height="50px" class=" ml-3 imgh"></a>
            </div>
          
        </div>

        <div class="col-md-3 pl-0 pr-0">
          <h5 class="text-center mt-4 w-100 mb-5">Henrique Vitorino</h5>

          <div class="d-flex justify-content-center pb-2">
            <img src="../../assets/imagens/riq.png" alt="" width="200px" height="200px">
          </div>
          <h6 class="text-center mt-4 w-100 mb-5">
            Desenvolvedor Java Full Stack
            
          </h6>  
            <div class="d-flex justify-content-center pb-2">
              <a href="https://www.linkedin.com/in/henrique-vitorino/" target="_blank">
              <img src="../../assets/imagens/linkedin.png" alt="" width="50px" height="50px" class=" ml-3 imgh"></a>
              <a href="https://github.com/riqueov" target="_blank">
              <img src="../../assets/imagens/github.png" alt="" width="50px" height="50px" class=" ml-3 imgh"></a>
            </div>
          
        </div>

        <div class="col-md-3 pl-0 pr-0">
          <h5 class="text-center mt-4 w-100 mb-5">Patricia Torres</h5>
          
          <div class="d-flex justify-content-center pb-2">
            <img src="../../assets/imagens/pat.png" alt="" width="200px" height="200px">
          </div>
          <h6 class="text-center mt-4 w-100 mb-5">
            Desenvolvedor Java Full Stack
            
          </h6>  
            <div class="d-flex justify-content-center pb-2">
              <a href=" https://www.linkedin.com/in/patr%C3%ADciatorres/" target="_blank">
              <img src="../../assets/imagens/linkedin.png" alt="" width="50px" height="50px" class=" ml-3 imgh"></a>
              <a href="https://github.com/PatriciaTorresGraciano"target="_blank">
              <img src="../../assets/imagens/github.png" alt="" width="50px" height="50px" class=" ml-3 imgh"></a>
            </div>
          
        </div>

        <div class="col-md-3 pl-0 pr-0">
          <h5 class="text-center mt-4 w-100 mb-5">Ruan Dias</h5>

          <div class="d-flex justify-content-center pb-2">
            <img src="../../assets/imagens/rua.png" alt="" width="200px" height="200px">
          </div>
          <h6 class="text-center mt-4 w-100 mb-5">
            Desenvolvedor Java Full Stack
            
          </h6>
            <div class="d-flex justify-content-center pb-2">
              <a href=" https://www.linkedin.com/in/ruansantosdias/" target="_blank">
              <img src="../../assets/imagens/linkedin.png" alt="" width="50px" height="50px" class=" ml-3 imgh"></a>  
              <a href="https://github.com/RuanSDias" target="_blank">
              <img src="../../assets/imagens/github.png" alt="" width="50px" height="50px" class=" ml-3 imgh"></a>
            </div>
          
        </div>
    
    </div>

  </div>
