<div class="container-fluid">

    <div class="row d-flex justify-content-around bg-cinza1 bg-tr pt-5 pb-5 mobile-c">

      <div class=" col-md-5 d-flex justify-content-around">
        <img class="img-top ml-5 pl-5 mobile-i" src="../../assets/CleanEnergy 15x15.png" alt="" width="550px" height="500px">
      </div>

      <div class="col-md-6 pl-4 pr-4 justify-content-around">

            <div class="row d-flex justify-content-around">
                <div class="col-md-10 text-body mw-100 pb-3 m-0">
                    <h3 class="titulo text-center pb-3 fs-2 mobile-t">Sobre nós</h3>
                    <h5 class="texto text-justify mt-4 w-100 mb-5 mobile-t">Podemos notar atualmente que o consumo tem sido uma preocupação entre os brasileiros, alem da preocupação também com impactos causados por usinas hidroelétricas, termoelétricas e nucleares e com base no Objetivo de desenvolvimento sustentavel 7 da ONU, que se refere ao desenvolvimento do consumo de energia limpa e sustentável nossa equipe desenvolveu a Clean Energy.
                    </h5>
                    <h5 class="texto text-justify mt-4 w-100 mb-5 mobile-t">
                      Nosso e-commerce tem como objetivo comercializar produtos de energia solar, como paineis soláres e aquecedores, mas além disso, queremos promover também o acesso a uma fonte sustentável de energia para os brasileiros, através de nosso site oferecemos alguns conteúdos para informar, conscientizar e também para tirar duvidas.
                    </h5>
             
				        </div>	
            </div>

      </div>

    </div>

  </div>

  <div class="container-fluid">
    <h3 class="tituloEqp text-center pb-3 fs-2">Equipe de Desenvolvedores</h3>
    <div class="row bg-cinza1 d-flex align-items-center pt-5 pb-5">
      
        
      <div class="col-md-3 pl-0 pr-0">

        <div class="d-flex justify-content-center pb-2">
          <img src="../../assets/riq.png" alt="" width="200px" height="200px">
        </div>
        <h5 class="nomes text-center mt-4 w-100 mb-3">Henrique Vitorino</h5>
        <h6 class="jr text-center w-100 mb-4">Desenvolvedor Full Stack Jr.</h6>
          <div class="d-flex justify-content-center pb-2 mobile-l">

            <a href="https://github.com/riqueov" target="_blank" class="pr-2">
              <i class="fa fa-github fa-3x p-2 imgh" aria-hidden="true"></i></a> 

              <a href="https://www.linkedin.com/in/henrique-vitorino/" target="_blank" class="pl-2">
                <i class="fa fa-linkedin fa-3x p-2 imgh" aria-hidden="true"></i></a> 

          </div>
        
      </div>


        <div class="col-md-3 pl-0 pr-0">
          
          <div class="d-flex justify-content-center pb-2">
            <img src="../../assets/Ita.png" alt="" width="200px" height="200px">
          </div>
          <h5 class="nomes text-center mt-4 w-100 mb-3">Italo Vieira</h5>
          <h6 class="jr text-center w-100 mb-4">Desenvolvedor Full Stack Jr.</h6>
            <div class="d-flex justify-content-center pb-2 mobile-l">

              <a href="https://github.com/heiitalo" target="_blank" class="pr-2">
                <i class="fa fa-github fa-3x p-2 imgh" aria-hidden="true"></i></a> 
  
                <a href="https://www.linkedin.com/in/italovieira1/" target="_blank" class="pl-2">
                  <i class="fa fa-linkedin fa-3x p-2 imgh" aria-hidden="true"></i></a> 

            </div>
          
        </div>


        <div class="col-md-3 pl-0 pr-0">

          <div class="d-flex justify-content-center pb-2">
            <img src="../../assets/pat.png" alt="" width="200px" height="200px">
          </div>
          <h5 class="nomes text-center mt-4 w-100 mb-3">Patricia Torres</h5>
          <h6 class="jr text-center w-100 mb-4">Desenvolvedor Full Stack Jr.</h6>

            <div class="d-flex justify-content-center pb-2 mobile-l">

              <a href="https://github.com/PatriciaTorresGraciano" target="_blank" class="pr-2">
                <i class="fa fa-github fa-3x p-2 imgh" aria-hidden="true"></i></a> 
  
                <a href="https://www.linkedin.com/in/patr%C3%ADciatorres/" target="_blank" class="pl-2">
                  <i class="fa fa-linkedin fa-3x p-2 imgh" aria-hidden="true"></i></a> 

            </div>
          
        </div>

        <div class="col-md-3 pl-0 pr-0">

          <div class="d-flex justify-content-center pb-2">
            <img src="../../assets/rua.png" alt="" width="200px" height="200px">
          </div>
          <h5 class="nomes text-center mt-4 w-100 mb-3">Ruan Dias</h5>
          <h6 class="jr text-center w-100 mb-4">Desenvolvedor Full Stack Jr.</h6>

            <div class="d-flex justify-content-center pb-2 mobile-l">
              
              <a href="https://github.com/RuanSDias" target="_blank" class="pr-2">
                <i class="fa fa-github fa-3x p-2 imgh" aria-hidden="true"></i></a> 
  
                <a href="https://www.linkedin.com/in/ruansantosdias/" target="_blank" class="pl-2">
                  <i class="fa fa-linkedin fa-3x p-2 imgh" aria-hidden="true"></i></a> 
              
            </div>
          
        </div>
    
        
    </div>

  </div>
