<div class="container produtos mt-4">
    <h1 class="h2 text-secondary"> Produtos Cadastrados </h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Imagem</th>
                <th>Atualizar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Painel Solar</td>
                <td>R$ 2.500,00</td>
                <td>15</td>
                <td>Link da Imagem</td>
                <td><a href="#" type="submit" class="btn editarIcone"><i class=" fa fa-pencil"></i></a></td>
                <td><a href="" type="submit" class="btn deletarIcone"><i class=" fa fa-trash"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>


