<div class="container novaCategoria mt-4">
    <h1 class="h2 text-secondary"> Adicionar Categoria </h1>
<div class="mt-4">
    <form>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="nome">Nome da Categoria</label>
          <input type="text" class="form-control" id="nome" placeholder="Digite o nome da categoria">
        </div>
        <div class="form-group col-md-4">
          <label for="material">Material</label>
          <input type="text" class="form-control" id="material" placeholder="Digite o material">
        </div>
        <div class="form-group col-md-4">
            <label for="potencia">Potência</label>
            <input type="text" class="form-control" id="potencia" placeholder="Digite a potência">
          </div>
        </div>
          <div class="botoes">
            <button type="submit" class="btn btn-success mr-4">Cadastrar</button>
            <button type="submit" class="btn btn-danger">Cancelar</button>
          </div>
      </form>
    </div>
</div>
