<div class="container novaCategoria mt-4">
    <h1 class="h2 text-secondary"> Adicionar Categoria </h1>
<div class="mt-4">
    <form>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="nome">Nome da Categoria</label>
          <input [(ngModel)]='categoria.nome' name="categoria" type="text" class="form-control" id="categoria" aria-describedby="bg-light" placeholder="Categoria">
        </div>
        
        
        </div>
          <div class="botoes d-flex">
            <button type="submit" class="btn btn-success mr-4" (click)='cadastrarCategoria()'>Cadastrar</button>
            <button type="submit" class="btn btn-danger">Cancelar</button>
          </div>
      </form>
    </div>
</div>
