.<div class="container deletar">
    <div class="row">
        <div class="col-md-12">
            <h1 class=" text-center text-secondary">Apagar tema</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Você tem certeza que deseja apagar essa categoria? Todos os produtos relacionados à ela serão apagados</h4>
        </div>
    </div>
    <div class="row">
        <h4>categoria {{categoria.nome}}</h4>
        <div class="col-md-12">
            <button class=" btn btn-danger" (click)='apagar()'>Excluir</button>
            
        </div>
    </div>
</div>
