<!-- Inicio da nav de busca -->

<div class="filtro d-flex mb-5 d-flex justify-content-between">
  <div class="categorias d-flex mt-3">
    <ul class="nav nav-tabs">
      <li class="nav-item dropdown filtro">
        <a class="nav-link dropdown-toggle btn-select pb-2 ml-3 mb-3 rounded" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Selecione uma Categoria</a>
        <div class="dropdown-menu">
          <a class="dropdown-item pl-3 pr-3"*ngFor='let categoria of listaCategoria' [routerLink]= "['/detalhecategoria', categoria.idCategoria ]" href="#" type="submit">{{categoria.nome}}</a>
        </div>
      </li>
    </ul>
  </div>
  <nav class="d-flex justify-content-end navbar navbar-light text-left">
    <form class="form-inline">
      <input [(ngModel)]='nomeProduto' (keyup)='findByNomeProduto()' name='search' id='search' class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <i class="fa fa-search" type="submit" aria-hidden="true"></i>
    </form>
  </nav>
</div>

<!-- Fim da nav de busca -->

<div class="produtos">
  <h3 class="titulo">Produtos</h3>
</div>

<!-- Card de Produtos-->

<div class="container-fluid pb-4 pt-4 pr-0 pl-0">

  <div class="row justify-content-center w-100 bg-cinza1 p-2 m-0">

    <div *ngFor='let produto of listaProduto' class="card col-md-3 pb-0 mb-5 ml-2 mr-2 height-card"
      data-toggle="modal" data-target="#detalhesProduto">

      <img class='imgProduto' src={{produto.imagem}} alt="Painel Solar">

      <div class="card-body pb-0">
        <h5 class="text-center p-0 pt-1">{{ produto.nome }}</h5>
        <hr class="p-0">
        <p class="m-0" id="descricaoProduto">{{produto.descricao}}</p>
        <p class="m-0" id="descricaoProduto">A partir de: </p>
        <p class="card-text text-danger mt-3" id="valorAtual">R$ {{produto.preco}}</p>

        <a *ngIf="auth.logado()" href="https://api.whatsapp.com/send?phone=5511989384483&text=Gostaria%20de%20ser%20atendido" target="_blank" class="btn btnComprar">
        <i class="fa fa-whatsapp fa-lg pr-3" aria-hidden="true"></i>Solicite um orçamento
        </a>
        <a *ngIf="auth.deslogado()" routerLink='/entrar-cadastrar' class="btn btnComprar" (click)='logar()'> <i class="fa fa-whatsapp fa-lg pr-3" aria-hidden="true"></i>Solicite um orçamento</a>
      </div>

    </div>
  </div>

</div>

<!-- Fim do card de produto -->

