<div class="filtro d-flex align-items-center justify-content-center mb-5">
  <nav class="navbar navbar-light text-left">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <i class="fa fa-search" type="submit" aria-hidden="true"></i>
    </form>
  </nav>

  <div class="categorias d-flex mt-3">
    <div class="form-group form-check mr-3">
      <input type="checkbox" class="form-check-input" id="ps">
      <label class="form-check-label" for="ps">Painéis solares</label>
    </div>

    <div class="form-group form-check mr-3">
      <input type="checkbox" class="form-check-input" id="ps">
      <label class="form-check-label" for="ps">Aquecedores de água solar</label>
    </div>

    <div class="form-group form-check mr-3">
      <input type="checkbox" class="form-check-input" id="ps">
      <label class="form-check-label" for="ps">Aquecedores de Piscina</label>
    </div>

  </div>
</div>

<div class="produtos">
  <h3 class="titulo">Produtos</h3>
</div>

<!-- Card de Produtos-->

<div class="container-fluid pb-4 pt-4 pr-0 pl-0">

  <div class="row justify-content-center w-100 bg-cinza1 p-2 m-0">

    <div *ngFor='let produto of listaProduto' class="card col-md-3 pb-0 mb-5 ml-2 mr-2 height-card"
      data-toggle="modal" data-target="#detalhesProduto">

      <img class='imgProduto' src={{produto.imagem}} alt="Painel Solar">

      <div class="card-body pb-0">
        <h5 class="text-center p-0 pt-1">{{ produto.nome }}</h5>
        <hr class="p-0">
        <p class="m-0" id="descricaoProduto">{{produto.descricao}}</p>
        <p class="m-0" id="descricaoProduto">A partir de: </p>
        <p class="card-text text-danger mt-3" id="valorAtual">R$ {{produto.preco}}</p>

        <button class="btnComprar"><i class="fa fa-whatsapp fa-lg pr-3" aria-hidden="true">
          </i>Solicite um orçamento</button>

      </div>

    </div>
  </div>

</div>

<!-- Fim do card de produto -->

