.videoSol [_ngcontent-wwi-c32] {
    width: 100vh;
   
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.titulo {
    text-align: center;
    color: #023047;
    text-transform: uppercase;
    font-weight: bold;
}

.imgSobre {
    width: 380px;
    height: 220px;
    border-radius: 10px;
    margin: 50px 0 50px 0;
}

.imgSobre:hover {
    box-shadow: 0 0 1em #adb5bd;
    -moz-transform: scale(1.2); 
  -webkit-transform: scale(1.0);
  transform: scale(1.2);
}

.tituloImagem {
    font-size: 30px;
    color: #FFB703;
    font-weight: bold;
    margin-top: 50px;
    
}
.texto {
    width: 460px;
    height: 100%;
    font-size: 20px;
}

.saibaMais {
    color: #BB3E03;
}

.produtos {
    width: 250px;
    height: 300px;
    border-radius: 10px
}

.btnVerMais {
    background-color: #FFF;
    margin-top: -200px;
    margin-left: 320px;
    width: 150px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}

.iconesEnergia {
    margin-top: 52px;
    background-color: #023047;
    width: 100%;
}

.iconesEnergia h3 {
    color: #FFF;
    font-size: 18px;
}

#iconeEnergia{
    font-size: 52px;
    color: #FFB703;
    text-align: center;
    margin-bottom: 25px;
}
.energiaLimpa {
    width: 110px;
}
.energiaRenovavel {
    width: 100px;
}
.menorCusto {
    width: 95px;
}
.boxIcone {
    text-align: center;
    padding: 20px;
}

.videoEnergiaSolar {
    width: 100%;
}

.comoFuncionaImg {
    height: auto;
    max-width: 100%;
}

.imgProduto{
    margin: 10px;
    object-fit: cover;
    object-position: center;
}

.imgProduto:hover {
    opacity: 0.5;
  filter: alpha(opacity=50);
  zoom: 1;
}

/* .imgProdutoP{
    margin-top: -150px;
    margin-left: 40px;
} */

.efeito {
    background-image: url(../../assets/imagens/ceu.jpeg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btnOrcamento{
    border-radius: 50px;
    color: #FFF;
    background-color: #023047;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border: none;
    margin-top: inherit;
}

.btnSOrcamento {
    margin-top: 250px;
    position: relative;
    
}

.fa-whatsapp{
    font-size: 24px;
}

.titulo a {
    text-decoration: none;
    color: #023047;
}