<div class="container-fluid p-0 m-0">

  <div class="videoSol">
      <video _ngcontent-wwi-c32 autoplay loop muted class="video">
          <span _ngcontent-xes-c32 class="texto-video">Clean Energy</span>
          <p class="texto-video">Clean Energy</p>
          <source _ngcontent-wwi-c32 src="https://i.imgur.com/bEDHdm2.mp4" type="video/mp4">
      </video> 
  </div>

  <div>
      <video _ngcontent-wwi-c32 autoplay loop muted class="video">
          <source _ngcontent-wwi-c32 src="https://i.imgur.com/PuaDsWl.mp4" type="video/mp4">
      </video>
  </div>
   

  <!-- Inicio Banners carousel -->

      <div id="carousel" class="carousel slide d-flex justify-content-center" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img class="d-block w-100" id="bannerCarousel" src="https://i.imgur.com/nJdPrcJ.jpg" alt="Energia Limpa e Renovável">
              </div>
              <div class="carousel-item">
                  <img class="d-block w-100" id="bannerCarousel" src="https://i.imgur.com/RfAfZ3M.jpg" alt="Instalando placa solar">
              </div>
              <div class="carousel-item">
                  <img class="d-block w-100" id="bannerCarousel" src="https://i.imgur.com/FTPbqaD.jpg" alt="Aquecedor de água solar">
              </div>
          </div>
          <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
          </a>
          <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
          </a>
    

  </div>

  <!-- Fim Banners carousel -->

  <!-- Inicio dos cards de prdutos -->
  <div class="container d-flex justify-content-center ">

      <!-- Card de produto -->
      <div class="container mt-3 mr-3">
          <div class="card" data-toggle="modal" data-target="#detalhesProduto">
              <img class="card-img-top" src="https://i.imgur.com/OdZm3qc.jpg" alt="Painel Solar">
              <div class="card-body">
                  <h5 class="card-title text-align-center">Painel Solar</h5>
                  <p class="card-title" id="descricaoProduto">Fotovoltaico 100w</p>
                  <p class="card-text" id="valorAntigo">R$ 520,00</p>
                  <p class="card-text text-danger" id="valorAtual">R$ 460,00</p>
                  <button class="btn btnComprar"><i class="fa fa-shopping-cart pr-2" aria-hidden="true"></i>Comprar</button>
              </div>
          </div>
      </div>
      <!-- Fim do card de produto -->
      <!-- Card de produto -->
      <div class="container mt-3 mr-3">
          <div class="card">
              <img class="card-img-top" src="https://i.imgur.com/OdZm3qc.jpg" alt="Painel Solar">
              <div class="card-body">
                  <h5 class="card-title text-align-center">Painel Solar</h5>
                  <p class="card-title" id="descricaoProduto">Fotovoltaico 100w</p>
                  <p class="card-text" id="valorAntigo">R$ 520,00</p>
                  <p class="card-text text-danger" id="valorAtual">R$ 460,00</p>
                  <a href="#" class="btn btnComprar"><i class="fa fa-shopping-cart pr-2"
                          aria-hidden="true"></i>Comprar</a>
              </div>
          </div>
      </div>
      <!-- Fim do card de produto -->
      <!-- Card de produto -->
      <div class="container mt-3 mr-3">
          <div class="card">
              <img class="card-img-top" src="https://i.imgur.com/OdZm3qc.jpg" alt="Painel Solar">
              <div class="card-body">
                  <h5 class="card-title text-align-center">Painel Solar</h5>
                  <p class="card-title" id="descricaoProduto">Fotovoltaico 100w</p>
                  <p class="card-text" id="valorAntigo">R$ 520,00</p>
                  <p class="card-text text-danger" id="valorAtual">R$ 460,00</p>
                  <a href="#" class="btn btnComprar"><i class="fa fa-shopping-cart pr-2"
                          aria-hidden="true"></i>Comprar</a>
              </div>
          </div>
      </div>
      <!-- Fim do card de produto -->
      <!-- Card de produto -->
      <div class="container mt-3 mr-3">
          <div class="card">
              <img class="card-img-top" src="https://i.imgur.com/OdZm3qc.jpg" alt="Painel Solar">
              <div class="card-body">
                  <h5 class="card-title text-align-center">Painel Solar</h5>
                  <p class="card-title" id="descricaoProduto">Fotovoltaico 100w</p>
                  <p class="card-text" id="valorAntigo">R$ 520,00</p>
                  <p class="card-text text-danger" id="valorAtual">R$ 460,00</p>
                  <a href="#" class="btn btnComprar"><i class="fa fa-shopping-cart pr-2"
                          aria-hidden="true"></i>Comprar</a>
              </div>
          </div>
      </div>
      <!-- Fim do card de produto -->

      <!-- Card de produto -->
      <div class="container mt-3 mr-3">
          <div class="card">
              <img class="card-img-top" src="https://i.imgur.com/OdZm3qc.jpg" alt="Painel Solar">
              <div class="card-body">
                  <h5 class="card-title text-align-center">Painel Solar</h5>
                  <p class="card-title" id="descricaoProduto">Fotovoltaico 100w</p>
                  <p class="card-text" id="valorAntigo">R$ 520,00</p>
                  <p class="card-text text-danger" id="valorAtual">R$ 460,00</p>
                  <a href="#" class="btn btnComprar"><i class="fa fa-shopping-cart pr-2"
                          aria-hidden="true"></i>Comprar</a>
              </div>
          </div>
      </div>
      <!-- Fim do card de produto -->

  </div>
  <!-- Fim dos card de produtos -->

  <!-- Ver mais produtos -->
  <div class="container maisProdutos mt-4 d-flex justify-content-center">
      <a href="#">Ver mais produtos</a>
  </div>
  <!-- Fim de ver mais produtos -->

  <!-- Icones -->
  <div class="container-fluid iconesEnergia">
      <div class="container d-flex align-items-center">

          <div class="col-md-4 boxIcone">
              <img class="energiaLimpa"src="https://i.imgur.com/VmC8BKN.png">
                  <h3>Energia Limpa</h3>
          </div>

          <div class="col-md-4 boxIcone">
              <img class="energiaRenovavel" src="https://i.imgur.com/27BolLG.png">
              <h3>Energia Renovável</h3>
          </div>

          <div class="col-md-4 boxIcone">
              <img class="menorCusto" src="https://i.imgur.com/cgcCwd4.png">
              <h3 class="mt-4">Menor custo a longo prazo</h3>
          </div>

      </div>
  </div>

</div>

<!-- Modal de detalhes do produto -->

<!-- Modal -->
<div class="modal fade" id="detalhesProduto" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="TituloModalCentralizado">Detalhes do Produto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="container d-flex justify-content-center">
                  <div class="col-md-6">
                      <img class="card-img-top" src="https://i.imgur.com/OdZm3qc.jpg" alt="Painel Solar">
                      <h5 class="card-title text-align-center mt-3">Painel Solar</h5>
                      <p class="card-text" id="descricaoProduto">Fotovoltaico 100w</p>
                      <p class="card-text" id="valorAntigo">R$ 520,00</p>
                      <p class="card-text text-danger" id="valorAtual">R$ 460,00</p>
                  </div>
                  <div class="col-md-6">
                      <h5>Sobre este item:</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                          laboris nisi ut aliquip ex ea commodo consequat.
                      </p>
                  </div>

              </div>


          </div>
          <div class="modal-footer">
              <a href="#" class="btn btnComprar"><i class="fa fa-shopping-cart pr-2"
                      aria-hidden="true"></i>Comprar</a>
          </div>
      </div>
  </div>
</div>