<div id="carousel" class="carousel slide d-flex justify-content-center" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" id="bannerCarousel" src="../../assets/imagens/bannerIntro.jpg"
                alt="Energia Limpa e Renovável">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" id="bannerCarousel" src="../../assets/imagens/banner2.jpg"
                alt="Instalando placa solar">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" id="bannerCarousel" src="../../assets/imagens/banner3.jpg"
                alt="Instalando placa solar">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>


</div>

<!-- Fim Banners carousel -->

<div class="container-fluid mt-5 mb-5 p-0 m-0">
    <h3 class="titulo mt-4">Por que somos os líderes do mercado</h3>

    <!-- Primeiro motivo -->
    <div class="d-flex justify-content-around mt-4">

        <div class="container-md-6 ml-5 pl-5">
            <img class="imgSobre" src="../../assets/imagens/paineisSolares.jpg" alt="">
        </div>


        <div class="container-col-md-6 mr-5 pr-5">
            <div class="row">
                <div>
                    <p class="tituloImagem text-right">Confiáveis</p>
                    <p class="texto text-right">Atuamos desde 2012, estamos presentes em mais de 25 países, milhares de
                        projetos realizados, entre eles residências, industriais, comerciais e rurais.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Fim da primeiro motivo -->

    <!-- Segundo motivo -->
    <div class="container-col-md-6 ml-5 pl-5">
        <div class="d-flex justify-content-around mt-4">
            <div>
                <p class="tituloImagem text-left">Equipe Profissional</p>
                <p class="texto text-left">Equipe especializada, com mais de 100 engenheiros. Oferecemos o suporte
                    necessário para que você tenha toda confiança em quem está fazendo e instalando o seu sistema.</p>
            </div>

            <div class="container-md-6 mr-5 pr-5">
                <img class="imgSobre" src="../../assets/imagens/paineisSolaresPlanejamento.jpeg" alt="">
            </div>

        </div>

    </div>

    <!-- Fim do segundo motivo -->

    <!-- Terceiro motivo-->
    <div class="d-flex justify-content-around mt-5">

        <div class="container-md-6 ml-5 pl-5">
            <img class="imgSobre" src="../../assets/imagens/paineisSolaresInstalações.jpeg" alt="">
        </div>


        <div class="container-col-md-6 mr-5 pr-5">
            <div class="row">
                <div>
                    <p class="tituloImagem text-right">Preço Justo</p>
                    <p class="texto text-right">Oferecemos uma consultoria gratuita, feita sob medida para cada
                        situação, com a transparência que você merece. Em cada passo do processo você será informado em
                        detalhes, para ter o melhor entendimento e tomar a melhor de decisão.</p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3 class="titulo mt-5 mb-5">Como funciona a energia solar</h3>

        <img class="comoFuncionaImg  lazyloading" data-toggle="modal" data-target="#exampleModal"
            data-was-processed="true" src="../../assets/imagens/fundo.jpg">

        <!-- Fim do terceiro motivo -->

        <!-- Modal que aparece o vídeo -->
        <div class="modal fade m-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">

                <div class="modal-content">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JTqz_xzozl0"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                </div>
            </div>
        </div>

    </div>

    <!-- Fim do modal que aparece o vídeo -->

    <!-- Icones de beneficios-->
    <div class="container-fluid mt-5 m-0 p-0">
        <div class="iconesEnergia m-0 p-0">
            <div class="container d-flex align-items-center">

                <div class="col-md-4 boxIcon text-left">
                    <img class="energiaLimpa" src="https://i.imgur.com/VmC8BKN.png">
                    <h3>Energia Limpa</h3>
                </div>

                <div class="col-md-4 boxIcon text-center">
                    <img class="energiaRenovavel" src="https://i.imgur.com/27BolLG.png">
                    <h3>Energia Renovável</h3>
                </div>

                <div class="col-md-4 boxIcon text-center">
                    <img class="menorCusto" src="https://i.imgur.com/cgcCwd4.png">
                    <h3 class="mt-4 text-right">Menor custo a longo prazo</h3>
                </div>

            </div>
        </div>
    </div>
    <!-- Fim do icones de beneficios-->

    <!-- inicio Conheça nossos proutos -->
    <div class="container-fluid mt-5 mb-5 m-0 p-0">
        <div class="conhecaProdutos m-0 p-0">
            <h3 class="titulo">Conheça nossos produtos</h3>

            <div class="container d-flex justify-content-around produtos mt-5">

                <div class=" col-md-4 produto">
                    <div class="imgProduto" href="#"></div>
                    <figcaption>Paineis Solares</figcaption>
                </div>

                <div class="col-md-4 produto2">
                    <div class="imgProduto2" href="#"></div>
                    <figcaption>Aquecedores de água Solar</figcaption>
                </div>

                <div class="col-md-4 produto3">
                    <div class="imgProduto3" href="#"></div>
                    <figcaption>Aquecedores de piscina</figcaption>
                </div>

            </div>
        </div>
    </div>

    <!-- Fim do Conheça nossos produtos -->
    <div class="container-col-md-6 titulo mt-3">
        <a href="#">
            <p> Ver todos</p>
        </a>
    </div>