<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Endereço de email</label>
      <input [(ngModel)]='categoria.nome' name="categoria" type="text" class="form-control" id="categoria" aria-describedby="bg-light" placeholder="Categoria">
     
    </div>
   

    <button type="submit" class="btn btn-primary" (click)='cadastrarCategoria()'>Enviar</button>
  </form>  
  
  <div class="container-fluid d-flex justify-content-center">
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Categoria</th>
            <th scope="col"></th>
            <th scope="col"></th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let categoria of listaCategorias'>
            <th scope="row">{{categoria.nome}}</th>
            <!-- <td><button class=" btn btn-info" [routerLink]="['/categoria-edit', categoria.id]">Alterar</button></td> -->
            <!-- <td><button class="btn btn-danger" [routerLink]="['/delete', categoria.id]">Excluir</button></td> -->
            
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>